<html>
	<head>
		<title>Tagger</title>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css">

	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col m10 offset-m1">
					<div class="card blue-grey">
						<div class="card-content white-text">
							<p>{{tweet['text']}}</p>
						</div>
						<div class="card-action">
							<form action="/" method="post">
								<input type="hidden" name="tweetId" value="{{tweet['id']}}"
								{% for cat in categories %}
								<p>
								<input name="category" type="checkbox" id="checkbox-{{cat}}" value="{{cat}}"/>
								<label for="checkbox-{{cat}}">{{cat}}</label>
								</p>
								{% endfor %}
								<button type="submit" class="btn waves-effect waves-light">Submit<i class="mdi-content-send right"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
	</body>
</html>

