{% extends "layout.html" %}

{% block body %}
{% for cat in cats %}
<div class="card green darken-4">
	<div class="card-content white-text">
		<span class="card-title">{{cat['name']}}</span>
		<p>
		Precision: {{cat['precision']}} <br/>
		Recall: {{cat['recall']}} <br />
		Total we tagged: {{cat['count']}}
		</p>
	</div>
</div>
{%endfor%}
{% for tag in tagging %}
<div class="card lighten-4 {{tag['color']}}">
	<p>{{tag['text']}}</p>
	<p>{{tag['gold']}} =&gt {{tag['pred']}}</p>
</div>
{%endfor%}
{%endblock%}
